{{ asset 'index.css' }}
{{{ include 'parts/head.hbs' title="Home" }}}

<body>
<section id="about">
    <h1>Faulty</h1>
    <p>
        I am Didier a.k.a. Faulty. <br/>
        Faulty, over time, has become more of a group than a nickname. <br/>
        FaultyGit has over 50 projects spread over multiple users, organisations and repositories. <br/>
</section>

<section id="links">
    <h2>Links</h2>
    <ul>
        <li><a href="//git.faulty.nl/didier">GitLab</a></li>
        <li><a href="//github.com/faultydev">GitHub</a></li>
    </ul>
</section>

<section id="other">
    <h2>Notice</h2>
    <span>
        Say hello to neo, the new server! <br/>
    </span>
</section>

</body>

{{{ include 'parts/footer.hbs' }}}
