{{{ asset 'default.css' }}}
{{{ include 'parts/head.hbs' title="Home" }}}

<body>
    <section>
        {{{ include 'parts/logo.hbs' }}}

        <span>ixvd is a collaborative platform.</span><br />
        <span>The community around IXVD was first based around an online pseudonym of someone in the community, however
            as the the community grew it didn't feel appropiate to use their pseudonym anymore.</span>
    </section>
    <section class="sidebar">
        <div id="links">
            <ul>
                <li><a href="//git.ixvd.net">Git</a></li>
                <li><a href="//share.neo.ixvd.net">File sharing</a></li>
            </ul>
        </div>
    </section>
</body>

{{{ include 'parts/footer.hbs' }}}