<footer>
    <span>{{ site_name }}</span> - <span><a href="{{ repo_url }}">Source</a></span> -
    <span><a href="{{ repo_url }}/issues/new">Report an issue</a></span> -
    commit: <span>{{ get_latest_commit }}</span>
</footer>
