<div>
    <pre>
 _                _              _   
(_)              | |            | |  
 ___  ____   ____| |  _ __   ___| |_ 
| \ \/ /\ \ / / _` | | '_ \ / _ \ __|
| |>  <  \ V / (_| |_| | | |  __/ |_ 
|_/_/\_\  \_/ \__,_(_)_| |_|\___|\__|                                  
    </pre>
    <span>(<strong>I</strong>'m) e<strong>X</strong>changing <strong>V</strong>arious <strong>D</strong>ata</span>
    <hr/>
</div>